<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('./componentes/head') %>
    <link rel="stylesheet" href="/css/itens.css">
    <title>Meus itens</title>
</head>
<body>
<header>
    <%- include('./componentes/nav') %>
</header>
        
    
        <main>
            <section id="cards">
                <% itens.forEach((itens) => { %>
            <div class="cards">
                <img src=" <%= itens.imagem %>" alt="">
                <h2> <%= itens.nome %></h2>
                <p class="tamanho"> <%=  itens.tamanho %></p>
                <p> <%=  itens.descricao %></p>

                <a href="/update/<%= itens.id %>">Editar</a>
                <a id="del" href="">Apagar</a>
            </div>
            <% }) %>
            </section>
        </main>
        <%- include('./componentes/footer') %>
</body>
</html>